@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text-color: white;
    --top-content: #2F4F4F;
    --body-content: #778899;
    --footer-content: #000000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    list-style: none;
}

/************************************Scroll Behavior Smooth************************************/
html{
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

/************************************ScrollBar Change Color************************************/
::-webkit-scrollbar{
    width: 0.9rem;
    background-color: rgb(34, 40, 49);
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(49, 54, 63);
    transition: .5s;
}

::-webkit-scrollbar-thumb:hover{
    border: 1px solid rgb(118, 171, 174);
    background-color: var(--top-content);
}

/************************************Navigation************************************/
body nav{
    position: sticky;
    top: 0;
    max-width: 100%;
    height: 100px;
    z-index: 100;
    background-color: var(--top-content);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* box-shadow: 0px 0px 10px 0px white; */
    /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); */
    transition: all 80ms ease-out;
}

body nav.scrolled{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}
/**********LOGO**********/
body nav #rjrlogo{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
body nav #rjrlogo img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
body nav h1{
    cursor: default;
    font-family: 'Nata Sans';
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-left: 200px;
    transition: .3s;
}
body nav h1 span{
    color: white;
    /* filter: drop-shadow( 1px 1px 3px white); */
}
body nav h1:hover{
    transform: scale(1.1);
    filter: drop-shadow( 1px 1px 3px white);
}

/**********Navigation Unordered List**********/
body nav ul{
    position: absolute;
    width: 50%;
    height: 70px;
    right: 20px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/**********Navigation Links**********/
body nav ul a{
    font-family: 'Nata Sans';
    font-weight: 400;
    font-size: 1.5rem;
    filter: drop-shadow(1px 1px 3px white);
    text-decoration: none;
    color: var(--text-color);    
    height: 40px;
}
body nav ul a::after{
    position: absolute;
    content: '';
    background-color: white;
    border-radius: 30px;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: .5s;
}
body nav ul a:hover::after{
    width: 100%;
}

body nav ul .nav-item{
    position: relative;
    width: 30px;
    height: 40px;
}

body nav ul .nav-item #resumeicon{
    display: block;
}

.nav-item:hover .tooltip-resume{
    opacity: 1;
    visibility: visible;
}

.tooltip-resume{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -60%;
    top: 55px;
    border: 1px solid var(--top-content);
    padding: 4px 10px;
    border-radius: 5px;
    background-color: white;
    color: var(--top-content);
    font-family: 'Nata Sans';
    transition: opacity .3s linear;
}

.tooltip-resume::before{
    content: "";
    position: absolute;
    border: 10px solid;
    top: -19px;
    left: 30%;
    border-color: transparent transparent white;
}

body nav .navicon{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 100px;
    display: none;
}
body nav .navicon .fa-bars{
    cursor: pointer;
    color: white;
    font-size: 2rem;
}
body nav .navicon .fa-bars:hover{
    filter: drop-shadow(1px 1px 3px white);
}
body nav .ham-menu{
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 100px;
    /* border: 1px solid red; */
    display: none;
}
body nav .ham-menu span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
body nav .ham-menu:hover{
    filter: drop-shadow(1px 1px 3px white);
}
body nav .ham-menu span:nth-child(1){
    top: 20%;
}
body nav .ham-menu span:nth-child(3){
    top: 80%;
}
body nav .ham-menu.active span:nth-child(1){
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}body nav .ham-menu.active span:nth-child(2){
    opacity: 0;
}
body nav .ham-menu.active span:nth-child(3){
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

/************************************Header************************************/
body header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 500px;
    position: relative;
    background-color: var(--top-content);
    /* border: 1px solid red; */
    transform: -50%;
    opacity: 0;
    transition: 800ms ease;
}
body header.show{
    transform: 0%;
    opacity: 1;
}

body header .projectsname{
    width: 60%;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
    /* border: 1px solid red; */
    transition: .5s ease;
}

body header .projectsname button{
    width: 90px;
    height: 5vh;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    /* border: 1px solid red; */
}
body header .projectsname button i{
    font-size: 3rem;
    color: white;
    transition: .2s;
}

body header .projectsname button i:hover{
    filter: drop-shadow(1px 1px 3px white);
}

body header .projectsname .title{
    font-size: 3rem;
    color: white;
    font-family: 'Nata Sans';
    font-weight: 400;
    filter: drop-shadow(1px 1px 10px white);
    text-align: center;
    margin-top: 100px;
    /* border: 1px solid white; */
}

body header .projectsname .description{
    font-size: 1rem;
    color: white;
    font-family: 'Nata Sans';
    font-weight: 400;
    text-align: center;
}

body header .projectsname .techtools{
    display: flex;
    flex-direction: row;
    width: 85%;
    position: absolute;
    /* border: 1px solid red; */
    margin-top: 5px;
}
body header .projectsname .techtools li{
    cursor: default;
    color: var(--top-content);
    font-size: 1rem;
    font-family: 'Nata Sans';
    font-weight: 400;
    background-color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: .5s ease;
}
body header .projectsname .techtools li:hover{
    background-color: white;
    transform: translateY(-5px);
    filter: drop-shadow(1px 1px 5px white);
}


/************************************Main************************************/
body main{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    gap: 50px;
}

/******************Project Overview******************/
body main .projoverview{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
}

body main .projoverview img{
    height: 400px;
    border-radius: 20px;
    transition: .5s ease;
}
body main .projoverview img:hover{
    transform: translateY(-10px);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}

body main .projoverview h1{
    font-size: 2rem;
    font-family: 'Nata Sans';
    font-weight: 600;
    color: var(--top-content);
    margin-top: 20px;
}

body main .projoverview .overview{
    font-size: 1rem;
    font-family: 'Nata Sans';
    font-weight: 500;
    text-align: justify;
    text-indent: 50px;
    color: var(--top-content);
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

body main .projoverview .featureinclude h2{
    font-size: 1.5rem;
    font-family: 'Nata Sans';
    font-weight: 600;
    color: var(--top-content);
}
body main .projoverview .featureinclude .feature-list li{
    font-size: 1.3rem;
    font-family: 'Nata Sans';
    font-weight: 400;
    color: var(--top-content);
}

/******************Project Details******************/
body main .projectsdetail{
    width: 20%;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease;
    /* border: 1px solid red; */
}
body main .projectsdetail:hover{
    transform: translateY(-10px);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}
body main .projectsdetail h1{
    font-size: 2rem;
    font-family: 'Nata Sans';
    font-weight: 600;
    color: var(--top-content);
    margin-top: 20px;
}


/******************Project Date******************/
body main .projectsdetail .projDate{
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 20px;
    /* border: 1px solid red; */
}

body main .projectsdetail .projDate i{
    font-size: 2rem;
    color: var(--top-content);
    align-content: center;
    /* border: 1px solid red; */
}

body main .projectsdetail .projDate .wrapboxprojdate{
    display: flex;
    flex-direction: column;
}

body main .projectsdetail .projDate .wrapboxprojdate label{
    font-size: 1.5rem;
    font-family: 'Nata Sans';
    font-weight: 500;
    color: var(--top-content);
}

body main .projectsdetail .projDate .wrapboxprojdate .date{
    font-size: 1rem;
    font-family: 'Nata Sans';
    font-weight: 300;
    color: var(--top-content);
}


/******************Project Team******************/
body main .projectsdetail .projTeam{
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 20px;
    /* border: 1px solid red; */
}

body main .projectsdetail .projTeam i{
    font-size: 2rem;
    color: var(--top-content);
    align-content: center;
    /* border: 1px solid red; */
}

body main .projectsdetail .projTeam .wrapboxprojteam{
    display: flex;
    flex-direction: column;
}

body main .projectsdetail .projTeam .wrapboxprojteam label{
    font-size: 1.5rem;
    font-family: 'Nata Sans';
    font-weight: 500;
    color: var(--top-content);
}

body main .projectsdetail .projTeam .wrapboxprojteam .team{
    font-size: 1rem;
    font-family: 'Nata Sans';
    font-weight: 300;
    color: var(--top-content);
}


/******************Project Category******************/
body main .projectsdetail .projCategory{
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 20px;
    /* border: 1px solid red; */
}

body main .projectsdetail .projCategory i{
    font-size: 2rem;
    color: var(--top-content);
    align-content: center;
    /* border: 1px solid red; */
}

body main .projectsdetail .projCategory .wrapboxprojCategory{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

body main .projectsdetail .projCategory .wrapboxprojCategory label{
    font-size: 1.5rem;
    font-family: 'Nata Sans';
    font-weight: 500;
    color: var(--top-content);
}

body main .projectsdetail .projCategory .wrapboxprojCategory .category{
    font-size: 1rem;
    font-family: 'Nata Sans';
    font-weight: 300;
    color: var(--top-content);
}


/************************************Footer************************************/
body footer{
    background-color: var(--top-content);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body footer h1{
    font-family: 'Nata Sans';
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: 400;
    filter: drop-shadow(1px 1px 3px white);
    color: white;
}









/************************************Responsive Media Query************************************/
@media (max-width: 1640px){
        /**********Navigation Links**********/
    body nav ul a{
        font-size: 1.3rem;
    }
    
    /************************************Main************************************/
    body main{
        gap: 100px;
    }

    body header .projectsname .techtools{
        width: 90%;
        margin-left: 100px;
    }


    /******************Project Overview******************/
    body main .projoverview{
        max-width: 50%;
    }
    
}

@media (max-width: 1240px){
    /**********LOGO**********/
    body nav h1{
        font-size: 2.5rem;
        margin-left: 100px;
    }
    /**********Navigation Unordered List**********/
    body nav ul{
        position: absolute;
        width: 50%;
        height: 70px;
        right: 20px;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* border: 1px solid red; */
    }

    /**********Navigation Links**********/
    body nav ul a{
        font-size: 1rem;  
        height: 30px;
    }

    /************************************Header************************************/
    body header .projectsname{
        width: 80%;
        /* border: 1px solid red; */
    }

    body header .projectsname .techtools{
        width: 90%;
        margin-left: 100px;
    }

    /************************************Main************************************/
    body main{
        gap: 60px;
        /* border: 1px solid blue; */
    }

    body main .projoverview{
        max-width: 50%;
        /* border: 1px solid blue; */
    }
    body main .projoverview img{
        height: 33vh;
    }

    body main .projectsdetail{
        width: 30%;
        height: 400px;
    }  
}

@media (max-width: 1080px){
    /************************************Navigation************************************/
    body nav{
        height: 80px;
    }
    /**********LOGO**********/
    body nav #rjrlogo img{
        height: 70px;
        width: 70px;
    }
    body nav h1{
        font-size: 1.5rem;
    }

    body nav ul{
        background-color: var(--top-content);
        /* flex-direction: column; */
        width: 100%;
        height: 100px;
        top: 80px;
        right: 0;
        overflow: hidden;
        transition: all .8s;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
    }
    body nav .navicon{
        display: block;
    }

    .tooltip-resume{
        display: none;
    }

    body nav .ham-menu{
        top: 25px;
        display: block;
    }

    /************************************Main************************************/
    body header .projectsname{
        height: 300px;
        position: absolute;
        top: 20px;
    }
    body header .projectsname .title{
        font-size: 2.5rem;
    }

    /******************Project Overview******************/
    body main .projoverview{
        max-width: 50%;
    }

    body header .projectsname .techtools{
        flex-wrap: wrap;
        gap: 10px;
    }

    body header .projectsname .techtools li{
        padding: 8px;
    }

    body main .projoverview img{
        height: 260px;
        border-radius: 20px;
    }

    body main .projoverview h1{
        font-size: 1.5rem;
    }

    body main .projoverview .featureinclude h2{
        font-size: 1.3rem;
    }
    body main .projoverview .featureinclude .feature-list li{
        font-size: 1rem;
    }


    /******************Project Details******************/
    body main .projectsdetail{
        width: 30%;
        height: 400px;
    }
    body main .projectsdetail h1{
        font-size: 1.5rem;
    }

    /************************************Footer************************************/
    body footer h1{
        font-size: 1rem;
    } 

}

@media (max-width: 780px){
    /**********LOGO**********/
    body nav h1{
        margin-left: 50px;
    }

    body nav ul a{
        font-size: .8rem;
    }

    body nav .navicon{
        right: 50px;
    }

    body nav .ham-menu{
    right: 50px;
}

    /************************************Header************************************/
    body header .projectsname{
        width: 80%;
        /* border: 1px solid red; */
    }

    body header .projectsname .title{
        margin-top: 120px;
    }

    body header .projectsname .techtools{
        width: 80%;
        margin-top: 10px;
        margin-left: 50px;
        gap: 10px;
    }
    body header .projectsname .techtools li{
        padding: 5px;
    }

    body header .projectsname button{
        width: 50px;
    }
    body header .projectsname button i{
        font-size: 2.5rem;
    }

    body header .projectsname .title{
        font-size: 2rem;
    }

    /************************************Main************************************/
    body main{
        flex-wrap: wrap;
        gap: 30px;
    }
    /******************Project Overview******************/
    body main .projoverview{
        max-width: 80%;
    }
    body main .projoverview h1{
        font-size: 1.5rem;
    }

    /******************Project Details******************/
    body main .projectsdetail{
        width: 70%;
        height: 380px;
    }
    body main .projectsdetail h1{
        font-size: 1.5rem;
    }
}

@media (max-width: 480px){
    /**********LOGO**********/
    body nav #rjrlogo img{
        height: 60px;
        width: 60px;
    }
    body nav h1{
        font-size: 1.5rem;
        margin-left: 30px;
    }

    body nav ul{
        flex-direction: column;
        height: 400px;
    }
    body nav ul a{
        font-size: 1rem;
    }

    body nav .navicon .fa-bars{
        font-size: 1.5rem;
    }

    
    /************************************Header************************************/
    body header{
        min-height: 400px;
        /* border: 1px solid red; */
    }
    body header .projectsname{
        height: 350px;
    }

    body header .projectsname button{
        width: 50px;
    }
    body header .projectsname button i{
        font-size: 2rem;
    }

    body header .projectsname .title{
        font-size: 1.5rem;
        margin-top: 150px;
    }
    body header .projectsname .techtools li{
        font-size: .8rem;
        padding: 5px;
    }

    body header .projectsname .description{
        font-size: .8rem;
    }
    
    body main .projoverview img{
        height: 180px;
    }

    body main .projoverview h1{
        font-size: 1.5rem;
    }

    body main .projoverview .overview{
        font-size: .8rem;
    }

    /******************Project Date******************/


    body main .projectsdetail .projDate i{
        font-size: 1.5rem;
    }

    body main .projectsdetail .projDate .wrapboxprojdate label{
        font-size: 1rem;
    }

    /******************Project Team******************/
    body main .projectsdetail .projTeam i{
        font-size: 1.5rem;
    }

    body main .projectsdetail .projTeam .wrapboxprojteam label{
        font-size: 1rem;
    }

    /******************Project Category******************/
    body main .projectsdetail .projCategory i{
        font-size: 1.5rem;
    }
    body main .projectsdetail .projCategory .wrapboxprojCategory label{
        font-size: 1rem;
    }
    body main .projectsdetail .projCategory .wrapboxprojCategory .category{
        font-size: .6rem;
    }
}

@media (max-width: 360px){
    body header .projectsname .title{
        margin-top: 100px;
    }
    body header .projectsname .techtools li{
        font-size: .6rem;
    }
}